*.pyc
*.svn-base
*.*~
**/.settings
**/.ipynb_checkpoints/**
**/.svn/**
pyCloudy.egg-info/
dist/
build/
doxygen*
make_documentation.py
tips.txt
.project
.pydevproject
.dropbox
.DS_Store
model_1.*
Cloudy_exe/
**/temp_models/
**/output.txt
__pycache__/
.pytest_cache
cooling_models/
*.h5
